 <div ng-controller="ShoutboxController as vm">
    <h3>{{vm.header}}</h3>
    <div ng-show="vm.error">{{vm.error}}</div>
    <table class="table table-striped table-bordered" ng-hide="vm.error">
        <thead>
            <tr>
                <th>Text</th>
                <th>Tag</th>
                <th>Id</th>
            </tr>   
        </thead>
        <tbody>
            <tr ng-repeat="message in vm.messages">
                <td>{{message.Text}}</td>
                <td>{{message.Tag}}</td>
                <td>{{message.Id}}</td>
            </tr>    
        </tbody>
    </table>
</div>